# Ignore everything
*
.*

# Project configurations
!/.editorconfig
!/.golangci.yml
!/.pre-commit-config.yaml
!/.github/
!/.github/**/
!/.github/**/*.yml
!/.gitignore
!/README.md
!/LICENSE
!/Makefile
!/go.mod
!/go.sum

# Sources
!/cmd/
!/cmd/**/
!/cmd/**/*.go
!/internal/
!/internal/**/
!/internal/**/*.go
